/TODO
/*.so
/*.out
/*.php
/*.o
/.vscode/
/.libs/

/autom4*/
/build/
/include/
/modules/

/*.guess
/*.log
/*.lo
/*.la
/*.out

/config.h*
/config.nice
/config.status
/config.sub
/configure
/configure.ac
/missing
/mkinstalldirs

/install-sh
/libtool
/ltmain*
/Makefile*
/acinclude.m4
/aclocal.m4